
table, tr, td, th {

    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(22, 18, 18);
    color: white;
}

td:hover {
    background-color: #D6EEEE;
    color: black;
    cursor: pointer;
}

#button {
    color:blue;
}

#button1 {
    color:white;
}
#button2 {
    border-radius: 20px; 
    background-color: blue; 
    color:white; 
    border: 1px solid black;
}