
table, tr, td, th {

    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-collapse: collapse;
    background-color: rgb(41, 41, 41);
    color: white;
}